body {
    padding-top: 4.75rem;
    padding-bottom: 4rem;
}

@media screen and (max-width: 1087px) {
    .navbar-menu {
        box-shadow: none;
        border-bottom: .015625rem solid transparent;
    }
}

@media screen and (min-width: 1088px) {
    .navbar-start>.navbar-item,
    .navbar-start>.navbar-item:hover,
    .navbar-end>.navbar-item,
    .navbar-end>.navbar-item:hover {
        height: 4.75rem;
    }

    .container {
        max-width: 90%;
        width: 90%;
    }
}

.navbar-brand object {
    position:static;
    margin:.8rem 1rem .65rem 1rem;
}

.navbar-brand a object {
    pointer-events:none;
}

.navbar.is-white {
    border-bottom: .015625rem solid #000;
}

.navbar-burger {
    height: 4.75rem;
}

.navbar .input {
    width: 16rem;
    margin-right: -6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.navbar .button.search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.navbar .control:last-of-type {
    margin-right: .375rem;
}

.section {
    padding-bottom: 0;
}

.input {
    box-shadow: none;
}

.table td {
    max-width: 14rem;

    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table .is-table-column-children .is-ellipsis-shade {
    box-shadow: 0 -1rem 2rem 0 #fff inset;
    height: 3rem;
    width: 16rem;
    position: absolute;
}

.table .is-table-column-children ul {
    height: 3rem;
    overflow: hidden;
}

.table tr:hover td {
    white-space: normal;
}

.table tr:hover .is-table-column-children ul {
    height: auto;
}

.table tr:hover .is-table-column-children .is-ellipsis-shade {
    display: none;
}

#statement pre {
    padding: 0;
}

.hljs {
    padding: 1.25rem 1.5rem;
    background-color: transparent;
}

.is-column-name {
    display: inline-block;
    padding-bottom: 1px;
}

.is-primary-key-column {
    border-bottom: 1px solid #000;
}

.is-foreign-key-column {
    border-bottom: 1px dashed #000;
}

.is-search-result li {
    display: inline-block;
}

.is-search-result div,
.is-search-result li {
    margin: .2rem;
}

.is-search-result ruby {
    padding: .7rem .5rem 0 .5rem;
    margin: .2rem 0;
}

.is-search-result ruby:first-of-type {
    padding: .7rem .5rem 0 0;
}

.is-data-note-container span,
.is-data-note-container .input {
    margin-right: .25rem;
}

.is-data-note-container .fa-exclamation-triangle {
    margin-left: .25rem;
}

.is-data-note-container .input {
    width: auto;
    height: 1.5rem;
    line-height: normal;
}

#queries em:nth-of-type(n+2):before {
    content: ', ';
}
