<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (page)">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="${page} + ' | ' + ${title}">header | haystacks</title>
  <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico" th:href="${favicon}">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
  <link rel="stylesheet" href="../static/css/haystacks.css" th:href="@{/css/haystacks.css?v=0.0.11-SNAPSHOT}">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script defer src="//use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>
<body>
<nav class="navbar is-white is-fixed-top" th:fragment="navbar">
  <div class="navbar-brand">
    <a href="/">
      <object type="image/svg+xml" height="48"
              data="../static/img/haystacks-logo.svg"
              th:attr="data=${logo}"></object>
    </a>
    <div role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
         onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/table">
        Tables
      </a>
      <a class="navbar-item" href="/info">
        Info
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <input id="searchText" class="input" type="text" placeholder="Search text">
            <a id="searchButton" class="button search" href="#">
              <span class="icon">
                <i class="fas fa-search"></i>
              </span>
              <span>Search</span>
            </a>
          </p>
          <p class="control">
            <a class="button is-black" href="https://github.com/yo1000/haystacks" target="_blank">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>GitHub</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <script>
  (function() {
      const searchTextElement = document.getElementById("searchText")
      const searchButtonElement = document.getElementById("searchButton")
      const search = () => {
          const searchText = searchTextElement.value
          const queryString = searchText.split(/[\s　]+/).map(s => {
              return `q=${s}`
          }).join("&")
          location.href = `/search?${queryString}`
      }
      searchTextElement.addEventListener("keypress", (event) => {
          if (event.key === "Enter") search()
      })
      searchButtonElement.addEventListener("click", (event) => {
          search()
      })
  })()
  </script>
</nav><!-- th:fragment="navbar" -->
<section class="section">
  <div class="container">
    <h1 class="title">Hello World</h1>
    <p class="subtitle">
      My fragments page with <strong>Bulma</strong>!
    </p>
  </div>
</section>
<div th:fragment="scripts">
  <script src="../static/js/haystacks.js" th:src="@{/js/haystacks.js?v=0.0.11-SNAPSHOT}"></script>
</div><!-- th:fragment="scripts" -->
</body>
</html>
