<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head (title='DataSource')">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Table name | haystacks</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel="stylesheet" href="../static/css/haystacks.css" th:href="@{/css/haystacks.css}">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>
<body>
<div th:replace="_fragments :: navbar"></div>
<section class="section">
  <div class="container">
    <h1 class="title is-2">Information</h1>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title is-4">Data Source</h2>
    <div id="dataSource"></div>
  </div>
</section>
<div th:replace="_fragments :: scripts">
  <script src="../static/js/haystacks.js"></script>
</div>
<script th:inline="javascript">
(function () {
    fetch("/api/dataSource").then(resp => {
        if (!resp.ok) throw Error(resp.statusText)
        return resp.json()
    }).then((dataSource) => {
        document.querySelector("#dataSource").appendChildElm("table", (tableElm) => {
            tableElm.classList.add("table")
            tableElm.classList.add("is-narrow")
            tableElm.classList.add("is-hoverable")
            tableElm.classList.add("is-fullwidth")

            tableElm.appendChildElm("tbody", (tbodyElm) => {
                tbodyElm.appendChildElm("tr", (trElm) => {
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("URL") })
                    trElm.appendChildElm("td", (tdElm) => { tdElm.appendChildTxt(dataSource.url) })
                })
                tbodyElm.appendChildElm("tr", (trElm) => {
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Name") })
                    trElm.appendChildElm("td", (tdElm) => { tdElm.appendChildTxt(dataSource.name) })
                })
                tbodyElm.appendChildElm("tr", (trElm) => {
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Username") })
                    trElm.appendChildElm("td", (tdElm) => { tdElm.appendChildTxt(dataSource.username) })
                })
                tbodyElm.appendChildElm("tr", (trElm) => {
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Driver") })
                    trElm.appendChildElm("td", (tdElm) => { tdElm.appendChildTxt(dataSource.driverClass) })
                })
            })
        })
    }).catch((err) => {
        console.error(err)
    })
})()
</script>
</body>
</html>