<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head (page='Search ' + ${queries})">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Table name | haystacks</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel="stylesheet" href="../static/css/haystacks.css" th:href="@{/css/haystacks.css}">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>
<body>
<div th:replace="_fragments :: navbar"></div>
<section class="section">
  <div class="container">
    <h1 class="title is-2">Search results</h1>
    <p id="queries" class="subtitle">for: </p>
    <div id="searchResults"></div>
  </div>
</section>
<div th:replace="_fragments :: scripts">
  <script src="../static/js/haystacks.js"></script>
</div>
<script th:inline="javascript">
(function () {
    const queries = /*[[${queries}]]*/ []
    const queryString = queries.map((q, i) => {
        return `q=${q}`
    }).join("&")

    fetch(`/api/search/?${queryString}`).then(resp => {
        if (!resp.ok) throw Error(resp.statusText)
        return resp.json()
    }).then((results) => {
        const queriesContainerElm = document.querySelector("#queries")
        queries.forEach((q) => {
            queriesContainerElm.appendChildElm("em", (emElm) => {
                emElm.appendChildTxt(q)
            })
        })

        document.querySelector("#searchResults").appendChildElm("table", (tableElm) => {
            tableElm.classList.add("table")
            tableElm.classList.add("is-narrow")
            tableElm.classList.add("is-hoverable")
            tableElm.classList.add("is-fullwidth")

            tableElm.appendChildElm("thead", (theadElm) => {
                theadElm.appendChildElm("tr", (trElm) => {
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Table") })
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Columns") })
                })
            })

            tableElm.appendChildElm("tbody", (tbodyElm) => {
                results.forEach(result => {
                    tbodyElm.appendChildElm("tr", (trElm) => {
                        trElm.appendChildElm("td", (tdElm) => {
                            tdElm.classList.add("is-search-result")

                            tdElm.appendChildElm("div", (divElm) => {
                                divElm.appendChildElm("ruby", (rubyElm) => {
                                    rubyElm.appendChildElm("a", (aElm) => {
                                        aElm.setAttribute("href", `table/${result.table.name}`)
                                        if (queries.find(q => {
                                            return result.table.name.includes(q)
                                        })) {
                                            aElm.classList.add("has-background-warning")
                                        }
                                        aElm.appendChildTxt(result.table.name)
                                    })

                                    rubyElm.appendChildElm("rt", (rtElm) => {
                                        if (queries.find(q => {
                                            return result.table.comment.includes(q) || result.table.note.includes(q)
                                        })) {
                                            rtElm.classList.add("has-background-warning")
                                        }
                                        rtElm.appendChildTxt(`${result.table.comment} ${result.table.note}`)
                                    })
                                })
                            })
                        })

                        trElm.appendChildElm("td", (tdElm) => {
                            tdElm.classList.add("is-search-result")

                            if (result.columns && result.columns.length) {
                                tdElm.appendChildElm("ul", (ulElm) => {
                                    result.columns.forEach(column => {
                                        ulElm.appendChildElm("li", (liElm) => {
                                            liElm.appendChildElm("ruby", (rubyElm) => {
                                                rubyElm.appendChildElm("span", (spanElm) => {
                                                    if (queries.find(q => {
                                                        return column.name.includes(q)
                                                    })) {
                                                        spanElm.classList.add("has-background-warning")
                                                    }
                                                    spanElm.appendChildTxt(column.name)
                                                })
                                                rubyElm.appendChildElm("rt", (rtElm) => {
                                                    if (queries.find(q => {
                                                        return column.comment.includes(q) || column.note.includes(q)
                                                    })) {
                                                        rtElm.classList.add("has-background-warning")
                                                    }
                                                    rtElm.appendChildTxt(`${column.comment} ${column.note}`)
                                                })
                                            })
                                        })
                                    })
                                })
                            }
                        })
                    })
                })
            })
        })
    }).catch((err) => {
        console.error(err)
    })
})()
</script>
</body>
</html>