<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head (title='Table ' + ${tableName})">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Table name | haystacks</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel="stylesheet" href="../static/css/haystacks.css" th:href="@{/css/haystacks.css}">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>
<body>
<div th:replace="_fragments :: navbar"></div>
<section class="section">
  <div class="container">
    <h1 id="tableName" class="title is-2"></h1>
    <p id="tableComment" class="subtitle"></p>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title is-4">Columns</h2>
    <div id="contents"></div>
  </div>
</section>
<script th:inline="javascript">
const render = (containerElement, table) => {
    const tableNameElement = document.querySelector("#tableName")
    tableNameElement.appendChild(document.createTextNode(table.names.physicalName.value))
    const tableCommentElement = document.querySelector("#tableComment")
    if (table.names.logicalName && table.names.logicalName.value) {
        tableCommentElement.appendChild(document.createTextNode(table.names.logicalName.value))
    }

    const tableElement = document.createElement("table")
    containerElement.appendChild(tableElement)
    tableElement.classList.add("table")
    tableElement.classList.add("is-narrow")
    tableElement.classList.add("is-hoverable")
    tableElement.classList.add("is-fullwidth")

    const tableHeadElement = document.createElement("thead")
    tableElement.appendChild(tableHeadElement)
    const headsTrElement = document.createElement("tr")
    tableHeadElement.appendChild(headsTrElement)
    const nameHeadThElement = document.createElement("th")
    headsTrElement.appendChild(nameHeadThElement)
    nameHeadThElement.appendChild(document.createTextNode("Name"))
    const typeHeadThElement = document.createElement("th")
    headsTrElement.appendChild(typeHeadThElement)
    typeHeadThElement.appendChild(document.createTextNode("Type"))
    const nullableHeadThElement = document.createElement("th")
    headsTrElement.appendChild(nullableHeadThElement)
    nullableHeadThElement.appendChild(document.createTextNode("Nullable"))
    const defaultHeadThElement = document.createElement("th")
    headsTrElement.appendChild(defaultHeadThElement)
    defaultHeadThElement.appendChild(document.createTextNode("Default"))
    const parentHeadThElement = document.createElement("th")
    headsTrElement.appendChild(parentHeadThElement)
    parentHeadThElement.appendChild(document.createTextNode("Parent"))
    const childrenHeadThElement = document.createElement("th")
    headsTrElement.appendChild(childrenHeadThElement)
    childrenHeadThElement.appendChild(document.createTextNode("Children"))
    const commentHeadThElement = document.createElement("th")
    headsTrElement.appendChild(commentHeadThElement)
    commentHeadThElement.appendChild(document.createTextNode("Comment"))

    const tableBodyElement = document.createElement("tbody")
    tableElement.appendChild(tableBodyElement)

    table.columns.forEach(column => {
        const dataRowElement = document.createElement("tr")
        tableBodyElement.appendChild(dataRowElement)

        const nameDataElement = document.createElement("td")
        dataRowElement.appendChild(nameDataElement)
        nameDataElement.appendChild(document.createTextNode(column.names.physicalName.value))

        const typeDataElement = document.createElement("td")
        dataRowElement.appendChild(typeDataElement)
        typeDataElement.appendChild(document.createTextNode(column.type))

        const nullableDataElement = document.createElement("td")
        dataRowElement.appendChild(nullableDataElement)
        if (column.nullable) {
            const iconElement = document.createElement("i")
            nullableDataElement.appendChild(iconElement)
            iconElement.classList.add("fas")
            iconElement.classList.add("fa-check")
        }

        const defaultDataElement = document.createElement("td")
        dataRowElement.appendChild(defaultDataElement)
        defaultDataElement.appendChild(document.createTextNode(column.default))

        const parentDataElement = document.createElement("td")
        dataRowElement.appendChild(parentDataElement)
        if (column.parent) {
            parentDataElement.appendChild(document.createTextNode(
                column.parent.tablePhysicalName.value + '.' + column.parent.columnPhysicalName.value))
        }

        const childrenDataElement = document.createElement("td")
        dataRowElement.appendChild(childrenDataElement)
        if (column.children && column.children.length) {
            const childrenListElement = document.createElement("ul")
            childrenDataElement.appendChild(childrenListElement)
            column.children.forEach(child => {
                const childListItemElement = document.createElement("li")
                childrenListElement.appendChild(childListItemElement)
                childListItemElement.appendChild(document.createTextNode(
                    child.tablePhysicalName.value + '.' + child.columnPhysicalName.value))
            })
        }

        const commentDataElement = document.createElement("td")
        dataRowElement.appendChild(commentDataElement)
        commentDataElement.appendChild(document.createTextNode(column.names.logicalName.value))
    })
}
(function () {
    const xhr = new XMLHttpRequest();
    xhr.open("GET", "/api/tables/" + [[${tableName}]], true);
    xhr.onload = (e) => {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                const table = JSON.parse(xhr.responseText)
                render(document.querySelector("#contents"), table)
            } else {
                console.error(xhr.statusText)
            }
        }
    }
    xhr.onerror = (e) => {
        console.error(xhr.statusText)
    }
    xhr.send(null)
})()
</script>
</body>
</html>