<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head (page='Table ' + ${tableName})">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Table name | haystacks</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel="stylesheet" href="../static/css/haystacks.css" th:href="@{/css/haystacks.css}">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>
<body>
<div th:replace="_fragments :: navbar"></div>
<section class="section">
  <div class="container">
    <h1 id="tableName" class="title is-2"></h1>
    <p class="subtitle">
      <span id="tableComment"></span>
      <small><span id="tableNote"></span></small>
    </p>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title is-4">Columns</h2>
    <div id="columns"></div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title is-4">Indexes</h2>
    <div id="indexes"></div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title is-4">Statement</h2>
    <div id="statement"></div>
  </div>
</section>
<div th:replace="_fragments :: scripts">
  <script src="../static/js/haystacks.js"></script>
</div>
<script th:inline="javascript">
(function () {
    const tableName = /*[[${tableName}]]*/ "tableName";
    fetch(`/api/tables/${tableName}`).then(resp => {
        if (!resp.ok) throw Error(resp.statusText)
        return resp.json()
    }).then((table) => {
        document.querySelector("#tableName").appendChildTxt(table.name)

        if (table.comment) {
            document.querySelector("#tableComment").appendChildTxt(table.comment)
        }

        const tableNoteContainerElm = document.querySelector("#tableNote")
        tableNoteContainerElm.setAttribute("data-fqn", table.fqn)
        tableNoteContainerElm.classList.add("is-data-note-container")
        tableNoteContainerElm.appendChildNote(table.note)

        document.querySelector("#columns").appendChild(new DocumentFragment().appendChildElm("table", (tableElm) => {
            tableElm.classList.add("table")
            tableElm.classList.add("is-narrow")
            tableElm.classList.add("is-hoverable")
            tableElm.classList.add("is-fullwidth")
            tableElm.classList.add("is-table-columns")

            tableElm.appendChildElm("thead", (theadElm) => {
                theadElm.appendChildElm("tr", (trElm) => {
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Name") })
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Type") })
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Nullable") })
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Default") })
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Parent") })
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Children") })
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Comment") })
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Note") })
                })
            })

            tableElm.appendChildElm("tbody", (tbodyElm) => {
                table.columns.forEach(column => {
                    tbodyElm.appendChildElm("tr", (trElm) => {
                        trElm.appendChildElm("td", (tdElm) => {
                            if (table.indexes.find((element) => {
                                return element.type === "PRIMARY" && element.columns.find((col) => {
                                    return col.column === column.name
                                })
                            })) {
                                tdElm.appendChildElm("span", (pkSpanElm) => {
                                    pkSpanElm.classList.add("is-black-box")
                                    pkSpanElm.appendChildTxt("P")
                                })
                            }
                            if (column.parent) {
                                tdElm.appendChildElm("span", (fkSpanElm) => {
                                    fkSpanElm.classList.add("is-white-box")
                                    fkSpanElm.appendChildTxt("F")
                                })
                            }
                            tdElm.appendChildElm("span", (spanElm) => {
                                spanElm.appendChildTxt(column.name)
                            })
                        })
                        trElm.appendChildElm("td", (tdElm) => {
                            tdElm.appendChildTxt(column.type)
                        })
                        trElm.appendChildElm("td", (tdElm) => {
                            if (column.nullable) {
                                tdElm.appendChildElm("span", (spanElm) => {
                                    spanElm.classList.add("is-check")
                                })
                            }
                        })
                        trElm.appendChildElm("td", (tdElm) => {
                            tdElm.appendChildTxt(column.default)
                        })
                        trElm.appendChildElm("td", (tdElm) => {
                            if (column.parent) {
                                tdElm.appendChildElm("a", (aElm) => {
                                    aElm.setAttribute("href", column.parent.table)
                                    aElm.appendChildTxt(`${column.parent.table}.${column.parent.column}`)
                                })
                            }
                        })
                        trElm.appendChildElm("td", (tdElm) => {
                            tdElm.classList.add("is-table-columns-children")

                            if (column.children && column.children.length) {
                                if (column.children.length > 1) {
                                    tdElm.appendChildElm("div", (divElm) => {
                                        divElm.classList.add("is-ellipsis-shade")
                                    })
                                }
                                tdElm.appendChildElm("ul", (ulElm) => {
                                    column.children.forEach(child => {
                                        ulElm.appendChildElm("li", (liElm) => {
                                            liElm.appendChildElm("a", (aElm) => {
                                                aElm.setAttribute("href", child.table)
                                                aElm.appendChildTxt(`${child.table}.${child.column}`)
                                            })
                                        })
                                    })
                                })
                            }
                        })
                        trElm.appendChildElm("td", (tdElm) => {
                            tdElm.appendChildTxt(column.comment)
                        })
                        trElm.appendChildElm("td", (tdElm) => {
                            tdElm.setAttribute("data-fqn", column.fqn)
                            tdElm.classList.add("is-data-note-container")

                            tdElm.appendChildNote(column.note)
                        })
                    })
                })
            })
        }))

        document.querySelector("#indexes").appendChild(new DocumentFragment().appendChildElm("table", (tableElm) => {
            tableElm.classList.add("table")
            tableElm.classList.add("is-narrow")
            tableElm.classList.add("is-hoverable")
            tableElm.classList.add("is-fullwidth")
            tableElm.classList.add("is-table-indexes")

            tableElm.appendChildElm("thead", (theadElm) => {
                theadElm.appendChildElm("tr", (trElm) => {
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Name") })
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Type") })
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Columns") })
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Comment") })
                    trElm.appendChildElm("th", (thElm) => { thElm.appendChildTxt("Note") })
                })
            })

            tableElm.appendChildElm("tbody", (tbodyElm) => {
                table.indexes.forEach(index => {
                    tbodyElm.appendChildElm("tr", (trElm) => {
                        trElm.appendChildElm("td", (tdElm) => {
                            tdElm.appendChildElm("span", (spanElm) => {
                                if (index.type === "PRIMARY") {
                                    spanElm.classList.add("is-black-circle")
                                    spanElm.appendChildTxt("\u00A0")
                                } else if (index.type === "UNIQUE") {
                                    spanElm.classList.add("is-white-circle")
                                    spanElm.appendChildTxt("1")
                                } else if (index.type === "PERFORMANCE") {
                                    spanElm.classList.add("is-white-circle")
                                    spanElm.appendChildTxt("\u00A0")
                                }
                            })
                            tdElm.appendChildTxt(`${index.name}`)
                        })
                        trElm.appendChildElm("td", (tdElm) => {
                            tdElm.appendChildTxt(index.type)
                        })
                        trElm.appendChildElm("td", (tdElm) => {
                            tdElm.classList.add("is-table-indexes-columns")

                            if (index.columns && index.columns.length) {
                                if (index.columns.length > 1) {
                                    tdElm.appendChildElm("div", (divElm) => {
                                        divElm.classList.add("is-ellipsis-shade")
                                    })
                                }
                                tdElm.appendChildElm("ul", (ulElm) => {
                                    index.columns.forEach(column => {
                                        ulElm.appendChildElm("li", (liElm) => {
                                            liElm.appendChildTxt(column.column)
                                        })
                                    })
                                })
                            }
                        })
                        trElm.appendChildElm("td", (tdElm) => {
                            tdElm.appendChildTxt(index.comment)
                        })
                        trElm.appendChildElm("td", (tdElm) => {
                            tdElm.setAttribute("data-fqn", index.fqn)
                            tdElm.classList.add("is-data-note-container")

                            tdElm.appendChildNote(index.note)
                        })
                    })
                })
            })
        }))

        document.querySelector("#statement").appendChild(new DocumentFragment().appendChildElm("pre", (preElm) => {
            preElm.appendChildElm("code", (codeElm) => {
                codeElm.appendChildTxt(table.statement)
                codeElm.classList.add("sql")
            })
            hljs.initHighlightingOnLoad()
        }))
    }).catch((err) => {
        console.error(err)
    })
})()
</script>
</body>
</html>