<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head (title='Table ' + ${tableName})">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Table name | haystacks</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel="stylesheet" href="../static/css/haystacks.css" th:href="@{/css/haystacks.css}">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>
<body>
<div th:replace="_fragments :: navbar"></div>
<section class="section">
  <div class="container">
    <h1 id="tableName" class="title is-2"></h1>
    <p id="tableComment" class="subtitle"></p>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title is-4">Columns</h2>
    <div id="columns"></div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title is-4">Indexes</h2>
    <div id="indexes"></div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title is-4">Statement</h2>
    <div id="statement"></div>
  </div>
</section>
<script th:inline="javascript">
const renderTableName =  (containerElement, table) => {
    containerElement.appendChild(document.createTextNode(table.name))
}
const renderTableComment =  (containerElement, table) => {
    if (table.comment) {
        containerElement.appendChild(document.createTextNode(table.comment))
    }
}
const renderColumns = (containerElement, table) => {
    const tableElement = document.createElement("table")
    containerElement.appendChild(tableElement)
    tableElement.classList.add("table")
    tableElement.classList.add("is-narrow")
    tableElement.classList.add("is-hoverable")
    tableElement.classList.add("is-fullwidth")

    const tableHeadElement = document.createElement("thead")
    tableElement.appendChild(tableHeadElement)
    const headsTrElement = document.createElement("tr")
    tableHeadElement.appendChild(headsTrElement)
    const nameHeadThElement = document.createElement("th")
    headsTrElement.appendChild(nameHeadThElement)
    nameHeadThElement.appendChild(document.createTextNode("Name"))
    const typeHeadThElement = document.createElement("th")
    headsTrElement.appendChild(typeHeadThElement)
    typeHeadThElement.appendChild(document.createTextNode("Type"))
    const nullableHeadThElement = document.createElement("th")
    headsTrElement.appendChild(nullableHeadThElement)
    nullableHeadThElement.appendChild(document.createTextNode("Nullable"))
    const defaultHeadThElement = document.createElement("th")
    headsTrElement.appendChild(defaultHeadThElement)
    defaultHeadThElement.appendChild(document.createTextNode("Default"))
    const parentHeadThElement = document.createElement("th")
    headsTrElement.appendChild(parentHeadThElement)
    parentHeadThElement.appendChild(document.createTextNode("Parent"))
    const childrenHeadThElement = document.createElement("th")
    headsTrElement.appendChild(childrenHeadThElement)
    childrenHeadThElement.appendChild(document.createTextNode("Children"))
    const commentHeadThElement = document.createElement("th")
    headsTrElement.appendChild(commentHeadThElement)
    commentHeadThElement.appendChild(document.createTextNode("Comment"))
    const noteHeadThElement = document.createElement("th")
    headsTrElement.appendChild(noteHeadThElement)
    noteHeadThElement.appendChild(document.createTextNode("Note"))

    const tableBodyElement = document.createElement("tbody")
    tableElement.appendChild(tableBodyElement)

    table.columns.forEach(column => {
        const dataRowElement = document.createElement("tr")
        tableBodyElement.appendChild(dataRowElement)

        const nameDataElement = document.createElement("td")
        dataRowElement.appendChild(nameDataElement)
        const foreignKeySpanElement = document.createElement("span")
        nameDataElement.appendChild(foreignKeySpanElement)
        foreignKeySpanElement.classList.add("is-column-name")
        const primaryKeySpanElement = document.createElement("span")
        foreignKeySpanElement.appendChild(primaryKeySpanElement)
        primaryKeySpanElement.classList.add("is-column-name")
        primaryKeySpanElement.appendChild(document.createTextNode(column.name))
        if (table.indexes.find((element) => {
            return element.type === "PRIMARY" && element.columns.find((col) => {
                return col.column === column.name
            })
        })) {
            primaryKeySpanElement.classList.add("is-primary-key-column")
        }
        if (column.parent) {
            foreignKeySpanElement.classList.add("is-foreign-key-column")
        }

        const typeDataElement = document.createElement("td")
        dataRowElement.appendChild(typeDataElement)
        typeDataElement.appendChild(document.createTextNode(column.type))

        const nullableDataElement = document.createElement("td")
        dataRowElement.appendChild(nullableDataElement)
        if (column.nullable) {
            const iconElement = document.createElement("i")
            nullableDataElement.appendChild(iconElement)
            iconElement.classList.add("fas")
            iconElement.classList.add("fa-check")
        }

        const defaultDataElement = document.createElement("td")
        dataRowElement.appendChild(defaultDataElement)
        defaultDataElement.appendChild(document.createTextNode(column.default))

        const parentDataElement = document.createElement("td")
        dataRowElement.appendChild(parentDataElement)
        if (column.parent) {
            const parentAnchorElement = document.createElement("a")
            parentDataElement.appendChild(parentAnchorElement)
            parentAnchorElement.setAttribute("href", column.parent.table)
            parentAnchorElement.appendChild(
                document.createTextNode(`${column.parent.table}.${column.parent.column}`))
        }

        const childrenDataElement = document.createElement("td")
        dataRowElement.appendChild(childrenDataElement)
        if (column.children && column.children.length) {
            const childrenListElement = document.createElement("ul")
            childrenDataElement.appendChild(childrenListElement)
            column.children.forEach(child => {
                const childListItemElement = document.createElement("li")
                childrenListElement.appendChild(childListItemElement)
                const childAnchorElement = document.createElement("a")
                childListItemElement.appendChild(childAnchorElement)
                childAnchorElement.setAttribute("href", child.table)
                childAnchorElement.appendChild(
                    document.createTextNode(`${child.table}.${child.column}`))
            })
        }

        const commentDataElement = document.createElement("td")
        dataRowElement.appendChild(commentDataElement)
        commentDataElement.appendChild(document.createTextNode(column.comment))

        const noteDataElement = document.createElement("td")
        dataRowElement.appendChild(noteDataElement)
        noteDataElement.appendChild(document.createTextNode(column.note))
    })
}
const renderIndexes = (containerElement, table) => {
    const tableElement = document.createElement("table")
    containerElement.appendChild(tableElement)
    tableElement.classList.add("table")
    tableElement.classList.add("is-narrow")
    tableElement.classList.add("is-hoverable")
    tableElement.classList.add("is-fullwidth")

    const tableHeadElement = document.createElement("thead")
    tableElement.appendChild(tableHeadElement)
    const headsTrElement = document.createElement("tr")
    tableHeadElement.appendChild(headsTrElement)
    const nameHeadThElement = document.createElement("th")
    headsTrElement.appendChild(nameHeadThElement)
    nameHeadThElement.appendChild(document.createTextNode("Name"))
    const typeHeadThElement = document.createElement("th")
    headsTrElement.appendChild(typeHeadThElement)
    typeHeadThElement.appendChild(document.createTextNode("Type"))
    const columnsHeadThElement = document.createElement("th")
    headsTrElement.appendChild(columnsHeadThElement)
    columnsHeadThElement.appendChild(document.createTextNode("Columns"))
    const commentHeadThElement = document.createElement("th")
    headsTrElement.appendChild(commentHeadThElement)
    commentHeadThElement.appendChild(document.createTextNode("Comment"))
    const noteHeadThElement = document.createElement("th")
    headsTrElement.appendChild(noteHeadThElement)
    noteHeadThElement.appendChild(document.createTextNode("Note"))

    const tableBodyElement = document.createElement("tbody")
    tableElement.appendChild(tableBodyElement)

    table.indexes.forEach(index => {
        const dataRowElement = document.createElement("tr")
        tableBodyElement.appendChild(dataRowElement)

        const nameDataElement = document.createElement("td")
        dataRowElement.appendChild(nameDataElement)
        const iconElement = document.createElement("i")
        nameDataElement.appendChild(iconElement)
        if (index.type === "PRIMARY") {
            iconElement.classList.add("fas")
            iconElement.classList.add("fa-circle")
        } else if (index.type === "UNIQUE") {
            iconElement.classList.add("far")
            iconElement.classList.add("fa-dot-circle")
        } else if (index.type === "PERFORMANCE") {
            iconElement.classList.add("far")
            iconElement.classList.add("fa-circle")
        }
        nameDataElement.appendChild(document.createTextNode(` ${index.name}`))

        const typeDataElement = document.createElement("td")
        dataRowElement.appendChild(typeDataElement)
        typeDataElement.appendChild(document.createTextNode(index.type))

        const columnsDataElement = document.createElement("td")
        dataRowElement.appendChild(columnsDataElement)
        if (index.columns && index.columns.length) {
            const columnsListElement = document.createElement("ul")
            columnsDataElement.appendChild(columnsListElement)
            index.columns.forEach(column => {
                const columnsListItemElement = document.createElement("li")
                columnsListElement.appendChild(columnsListItemElement)
                columnsListItemElement.appendChild(document.createTextNode(column.column))
            })
        }

        const commentDataElement = document.createElement("td")
        dataRowElement.appendChild(commentDataElement)
        commentDataElement.appendChild(document.createTextNode(index.comment))

        const noteDataElement = document.createElement("td")
        dataRowElement.appendChild(noteDataElement)
        noteDataElement.appendChild(document.createTextNode(index.note))
    })
}
const renderStatement = (containerElement, table) => {
    const preElement = document.createElement("pre")
    containerElement.appendChild(preElement)
    const codeElement = document.createElement("code")
    preElement.appendChild(codeElement)
    codeElement.classList.add("sql")
    codeElement.appendChild(document.createTextNode(table.statement))

    hljs.initHighlightingOnLoad()
}
(function () {
    const tableName = /*[[${tableName}]]*/ "tableName";
    const xhr = new XMLHttpRequest();
    xhr.open("GET", "/api/tables/" + tableName, true);
    xhr.onload = (e) => {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                const table = JSON.parse(xhr.responseText)
                renderTableName(document.querySelector("#tableName"), table)
                renderTableComment(document.querySelector("#tableComment"), table)
                renderColumns(document.querySelector("#columns"), table)
                renderIndexes(document.querySelector("#indexes"), table)
                renderStatement(document.querySelector("#statement"), table)
            } else {
                console.error(xhr.statusText)
            }
        }
    }
    xhr.onerror = (e) => {
        console.error(xhr.statusText)
    }
    xhr.send(null)
})()
</script>
</body>
</html>