<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head (title='Tables ' + ${dataSourceName})">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tables name | haystacks</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel="stylesheet" href="../static/css/haystacks.css" th:href="@{/css/haystacks.css}">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>
<body>
<div th:replace="_fragments :: navbar"></div>
<section class="section">
  <div class="container">
    <h1 class="title is-2">Tables</h1>
    <div id="contents"></div>
  </div>
</section>
<script>
const render = (containerElement, tables) => {
    const tableElement = document.createElement("table")
    containerElement.appendChild(tableElement)
    tableElement.classList.add("table")
    tableElement.classList.add("is-narrow")
    tableElement.classList.add("is-hoverable")
    tableElement.classList.add("is-fullwidth")

    const tableHeaderElement = document.createElement("thead")
    tableElement.appendChild(tableHeaderElement)

    const headsRowElement = document.createElement("tr")
    tableHeaderElement.appendChild(headsRowElement)

    const nameHeadElement = document.createElement("th")
    headsRowElement.appendChild(nameHeadElement)
    nameHeadElement.appendChild(document.createTextNode("Name"))

    const colsCountHeadElement = document.createElement("th")
    headsRowElement.appendChild(colsCountHeadElement)
    colsCountHeadElement.appendChild(document.createTextNode("Columns"))

    const rowsCountHeadElement = document.createElement("th")
    headsRowElement.appendChild(rowsCountHeadElement)
    rowsCountHeadElement.appendChild(document.createTextNode("Rows"))

    const parentCountHeadElement = document.createElement("th")
    headsRowElement.appendChild(parentCountHeadElement)
    parentCountHeadElement.appendChild(document.createTextNode("Parents"))

    const childrenCountHeadElement = document.createElement("th")
    headsRowElement.appendChild(childrenCountHeadElement)
    childrenCountHeadElement.appendChild(document.createTextNode("Children"))

    const commentHeadElement = document.createElement("th")
    headsRowElement.appendChild(commentHeadElement)
    commentHeadElement.appendChild(document.createTextNode("Comment"))

    const tableBodyElement = document.createElement("tbody")
    tableElement.appendChild(tableBodyElement)

    tables.forEach(item => {
        const cellsRowElement = document.createElement("tr")
        tableBodyElement.appendChild(cellsRowElement)

        const nameCellElement = document.createElement("td")
        cellsRowElement.appendChild(nameCellElement)
        const nameAnchorElement = document.createElement("a")
        nameCellElement.appendChild(nameAnchorElement)
        nameAnchorElement.setAttribute("href", `table/${item.name}`)
        nameAnchorElement.appendChild(document.createTextNode(item.name))

        const colsCountCellElement = document.createElement("td")
        cellsRowElement.appendChild(colsCountCellElement)
        colsCountCellElement.appendChild(document.createTextNode(item.columnCount))

        const rowsCountCellElement = document.createElement("td")
        cellsRowElement.appendChild(rowsCountCellElement)
        rowsCountCellElement.appendChild(document.createTextNode(item.rowCount))

        const parentCountCellElement = document.createElement("td")
        cellsRowElement.appendChild(parentCountCellElement)
        parentCountCellElement.appendChild(document.createTextNode(item.parentCount))

        const childrenCountCellElement = document.createElement("td")
        cellsRowElement.appendChild(childrenCountCellElement)
        childrenCountCellElement.appendChild(document.createTextNode(item.childCount))

        const commentCellElement = document.createElement("td")
        cellsRowElement.appendChild(commentCellElement)
        commentCellElement.appendChild(document.createTextNode(item.comment))
    })
}
(function () {
    const xhr = new XMLHttpRequest();
    xhr.open("GET", "/api/tables", true);
    xhr.onload = (e) => {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                const tables = JSON.parse(xhr.responseText)
                render(document.querySelector("#contents"), tables)
            } else {
                console.error(xhr.statusText)
            }
        }
    }
    xhr.onerror = (e) => {
        console.error(xhr.statusText)
    }
    xhr.send(null)
})()
</script>
</body>
</html>