<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head (title='Tables ' + ${dataSourceName})">
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Tables sample - shishamo</title>
  <link rel="stylesheet" href="../static/bootstrap-4.0.0-alpha.6/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="../static/app/css/app.css"/>
</head>
<body>
<div th:replace="_fragments :: navbar"></div>
<section class="section">
  <div class="container">
    <h1 class="title is-2">Tables</h1>
    <p class="subtitle">
      DataSource: <strong th:text="${dataSourceName}">dataSourceName</strong>
    </p>
    <div id="contents"></div>
  </div>
</section>
<script>
const render = (containerElement, tables) => {
    const tableElement = document.createElement("table")
    containerElement.appendChild(tableElement)
    tableElement.classList.add("table")
    tableElement.classList.add("is-narrow")
    tableElement.classList.add("is-hoverable")
    tableElement.classList.add("is-fullwidth")

    const tableHeaderElement = document.createElement("thead")
    tableElement.appendChild(tableHeaderElement)

    const headsRowElement = document.createElement("tr")
    tableHeaderElement.appendChild(headsRowElement)

    const nameHeadElement = document.createElement("th")
    const colsCountHeadElement = document.createElement("th")
    const rowsCountHeadElement = document.createElement("th")
    const parentCountHeadElement = document.createElement("th")
    const childrenCountHeadElement = document.createElement("th")
    const commentHeadElement = document.createElement("th")
    headsRowElement.appendChild(nameHeadElement)
    headsRowElement.appendChild(colsCountHeadElement)
    headsRowElement.appendChild(rowsCountHeadElement)
    headsRowElement.appendChild(parentCountHeadElement)
    headsRowElement.appendChild(childrenCountHeadElement)
    headsRowElement.appendChild(commentHeadElement)

    nameHeadElement.appendChild(document.createTextNode("Name"))
    colsCountHeadElement.appendChild(document.createTextNode("Columns"))
    rowsCountHeadElement.appendChild(document.createTextNode("Rows"))
    parentCountHeadElement.appendChild(document.createTextNode("Parents"))
    childrenCountHeadElement.appendChild(document.createTextNode("Children"))
    commentHeadElement.appendChild(document.createTextNode("Comment"))

    const tableBodyElement = document.createElement("tbody")
    tableElement.appendChild(tableBodyElement)


    tables.forEach(item => {
        const cellsRowElement = document.createElement("tr")
        tableBodyElement.appendChild(cellsRowElement)

        const nameCellElement = document.createElement("td")
        const colsCountCellElement = document.createElement("td")
        const rowsCountCellElement = document.createElement("td")
        const parentCountCellElement = document.createElement("td")
        const childrenCountCellElement = document.createElement("td")
        const commentCellElement = document.createElement("td")
        cellsRowElement.appendChild(nameCellElement)
        cellsRowElement.appendChild(colsCountCellElement)
        cellsRowElement.appendChild(rowsCountCellElement)
        cellsRowElement.appendChild(parentCountCellElement)
        cellsRowElement.appendChild(childrenCountCellElement)
        cellsRowElement.appendChild(commentCellElement)

        nameCellElement.appendChild(document.createTextNode(item.names.physicalName.value))
        colsCountCellElement.appendChild(document.createTextNode(item.columnCount))
        rowsCountCellElement.appendChild(document.createTextNode(item.rowCount))
        parentCountCellElement.appendChild(document.createTextNode(item.referencingCountToParent))
        childrenCountCellElement.appendChild(document.createTextNode(item.referencedCountFromChildren))
        commentCellElement.appendChild(document.createTextNode(item.names.logicalName.value))
    })
}
(function () {
    const xhr = new XMLHttpRequest();
    xhr.open("GET", "/api/tables", true);
    xhr.onload = (e) => {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                const tables = JSON.parse(xhr.responseText)
                render(document.querySelector("#contents"), tables)
            } else {
                console.error(xhr.statusText)
            }
        }
    }
    xhr.onerror = (e) => {
        console.error(xhr.statusText)
    }
    xhr.send(null)
})()
</script>
</body>
</html>